.schedule-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1000;
  transition: background-color 0.3s, opacity 0.3s, transform 0.3s;
  animation: pulse 2s infinite;
}

.schedule-button.scrolled {
  opacity: 0.7;
}

.schedule-button:hover {
  background-color: #0056b3;
}

/* Pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
